* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #337ab7;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-size: 14px;
    color: #333;
    background-color: #FFF;
    line-height: 1.42857143;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}

.top-hiden,
.header {
    display: flex;
    justify-content: center;
    min-height: 88px;
    background-color: #fff;
    width: 100%;
}

.header {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;

}

.header-logo img {
    height: 75px !important;
    padding: 5px;
    margin-right: 50px;
}

.header-menu .menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li:hover a {
    background-color: #3dc2ff;
    color: #fff;
    text-decoration: underline;
    transition: 0.15s ease;
}

.menu a {
    display: inline-block;
    padding: 34px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.header-contact {
    display: flex;
    padding: 22px 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.header-contact .logo-phone {
    padding: 0 15px;
    font-size: 30px;
    color: #D91A5D;
}

.text-phone .text {
    color: rgb(70, 195, 252);
}

.text-phone a {
    display: inline-block;
    color: rgb(217, 26, 93);
    margin-top: 5px;
    white-space: nowrap;
}

.text-phone:hover a {
    text-decoration: underline;
}

/* menu-respon */

.menu-logo {
    font-size: 30px;
    color: #46c3fc;
}

.header-logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.menu-after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    text-transform: uppercase;
    z-index: 400;
    display: none;
}

.menu-new {
    background-color: #46C3FC;
    display: none;
}

.menu-new a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.menu-new li:hover {
    background-color: rgb(202, 128, 140);
    transition: 0.5s ease;
}

.show {
    display: block;
}


.main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    width: 75vw;
}

.order {
    display: flex;
    padding: 0 15px;
}

.order-img {
    width: 50%;
    padding: 0 15px;
}

.order-img a {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.order-img a img {
    width: 100%;
    height: 100%;
    display: block;
}

.order-img a:hover {
    border-color: #337ab7;
}

.order-infor {
    padding: 0 15px;
}

.order-infor h1 {
    font-size: 36px;
    margin: 20px 0 10px;
    font-weight: 500;
    color: inherit;
}

.social-btn {
    display: block;
    width: 100%;
}

.list-unstyled h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}



label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
}

#input-option4 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input-option4:focus {
    border-color: #66afe9;
    outline: 0;
}

#button-cart {
    background-repeat: repeat-x;
    border-color: #245580;
    background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
}

.nav {
    display: block;
    border-bottom: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    display: flex;
}

.nav li {
    display: block;
    margin-bottom: -1px;

}

.nav a {
    color: #337ab7;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
    display: block;
    padding: 10px 15px;
    /* border: 1px solid transparent; */
}

.nav>.active>a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;

}

.nav>.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav>li>a:hover {
    border-color: #eee #eee #ddd;
    background-color: #eee;
}






.footer {
    background-color: #E8ECF5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
}

.footer-item {
    width: 25%;
    padding: 0 15px;
}

.footer-item h3 {
    margin: 20px 0 10px;
    font-weight: 600;
    line-height: 1.425;
    font-size: 24px;
}

.footer-item p {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

p strong {
    font-weight: 700;
}

.footer-item .btn {
    font-weight: 400;
    border: 1px #354060 solid;
    padding: 3px 3px;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 3px;
    color: #354060;
    font-size: 12px;
    font-style: italic;
}

.footer-item .btn:hover {
    text-decoration: underline;
}

.end {
    width: 100%;
    background: #C4CDE2;
    padding: 10px 0;
    font-weight: 700;
}

.end .end-container {
    margin: 0 auto;
    width: 75vw;
    padding: 0 15px;
}




@media only screen and (max-width: 1023px) {

    .list {
        width: 90vw;
    }

    .container {
        display: block;
        width: 98vw;
        padding: 0 15px;
    }

    .container .content {
        width: 100%;
    }

    .container .category {
        width: 100%;
    }

    .end .end-container {
        width: 767px;
    }

    .footer-content {
        width: 90vw;
    }


}

@media only screen and (max-width: 767px) {

    /* header */
    .header-logo img {
        margin-right: 0;
    }

    .header .header-contact {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        justify-content: space-evenly;
        position: relative;
    }

    .img-content img {
        margin-top: 0;
    }

    .header .header-menu {
        display: none;
    }

    .header-logo-menu {
        display: flex;
    }

    .menu-after {
        display: block;
    }

    .top-hiden {
        display: none !important;
    }

    /*  */
    .order {
        display: block;
    }

    .order-img {
        width: 100%;
    }

    .footer-item {
        width: 100%;
        padding-top: 10px;
    }

    .footer-item:first-child p {
        margin-bottom: 0;
    }

    .end .end-container {
        max-width: 90%;
    }


}